<!DOCTYPE HTML>
<html>
<head>
    <title>趣-绑定手机</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="./style/common.css">
    <link rel="stylesheet" type="text/css" href="./style/icomoon.css">
   <link rel="stylesheet" type="text/css" href="./style/lib/light7.min.css">
    <!-- 页面调用CSS -->
    <link rel="stylesheet" type="text/css" href="./style/bindmobile.css">
</head>
<body>
    <div id="myApp" class="page">
        <div class="header">
            <span class="icon-head-back"><a href="#"></a></span>
            <p class="text-head-title">绑定手机</p>
            <span class="icon-head-tool"></span>
        </div>
        <div class="content-box">
            <div class="warning-box">
                <p>为了提升您的账号安全，建议绑定手机号</p>
            </div>
            <ul class="list-ul">
                <li class="list-item">
                    <label class="tit">手机号</label>
                    <div class="txt">
                        <input type="text" maxlength="11" placeholder="11位数字" v-model="mobileInpVal" />
                    </div>
                </li>
                <li class="list-item">
                    <label class="tit">动态密码</label>
                    <div class="txt">
                        <input type="text" maxlength="6" placeholder="6位数字" v-model="yzCodeInpVal" />
                        <input :class="{'txtGray':isCountign}" type="button" @click="sendYzCode(60)" v-model="yzCodeTxt">
                    </div>
                </li>
            </ul>
            <div class="btn-tl-wrap">
                <a class="btn-tl btn-shadow" href="javascript:;" @click="submitBindMobile">确认</a>
            </div>
            <p class="tk">
                点击确认，即表示您已同意《兴趣到家<a href="agreement.html">服务条款</a>》
            </p>
        </div>
    </div>
    <script type="text/javascript" src="./script/lib/zepto.min.js"></script>
    <script>
        var viewportFix = function() {
            var v_t;
            var handlerOrientationChange = function() {
                var width = (window.innerWidth <= 320) ? 320 : ((window.innerWidth >= 640) ? 640 : window.innerWidth);
                var fontSize = 100 * (width / 640);
                document.documentElement.style.fontSize = fontSize + "px";
            };
            var timeoutFun = function() {
                clearTimeout(v_t);
                v_t = setTimeout(function() {
                    handlerOrientationChange();
                }, 50);
            }
            window.onload = function() {
                if (document.readyState == 'complete') {
                    handlerOrientationChange();
                }
            }
            timeoutFun();
            $(window).resize(function() {
                timeoutFun();
            }).on("orientationchange", function() {
                timeoutFun();
            });
        }
        viewportFix();
    </script>
    <!-- 页面调用JS -->
    <script type="text/javascript" src="./script/lib/vue.min.js"></script>
    <script type="text/javascript" src="./script/lib/axios.min.js"></script>
    <script type="text/javascript" src="./script/lib/light7.min.js"></script>
    <script type="text/javascript" src="./script/lib/crypto-js.js"></script>
    <script type="text/javascript" src="./script/common.js"></script>
    <script type="text/javascript" src="./script/bindmobile.js"></script>
</body>
</html/>
