<!DOCTYPE HTML>
<html>
<head>
    <title>我的订单</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="./style/common.css">
    <link rel="stylesheet" type="text/css" href="./style/icomoon.css">
    <link rel="stylesheet" type="text/css" href="./style/lib/light7.min.css">
    <!-- 页面调用CSS -->
    <link rel="stylesheet" type="text/css" href="./style/myorder.css">
</head>
<body>
    <div id="myApp" class="page-group">
        <div class="page page-current">
            <div class="header">
                <span class="icon-head-back"><a href="#"></a></span>
                <p class="text-head-title">我的订单</p>
                <span class="icon-head-tool"></span>
            </div>
            <div class="content-box">
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button" @click="getOrders(0)">全部</a>
                    <a href="#tab2" class="tab-link button" @click="getOrders(2)">进行中</a>
                    <a href="#tab3" class="tab-link button" @click="getOrders(3)">已完成</a>
                </div>
                <div class="mod-scroll my-orders">
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="content-block">
                                <div class="list-box" v-for="orderItem in orderList">
                                    <a external :href="'order_1.html?orderId='+orderItem.orderId">
                                        <h3 class="tit" v-text="orderItem.title"></h3>
                                        <div class="txt">
                                            <span class="kc" v-text="orderItem.hobbyName"></span>
                                            <span class="xs" v-text="orderItem.orderType"></span>
                                            <span class="sx">|</span>
                                            <span class="ls">共<span v-text="orderItem.studentCount"></span>人</span>
                                        </div>
                                        <p class="add">
                                            <i class="ico-add-q"></i>
                                            <span v-text="orderItem.address?orderItem.address:'家长上门'"></span>
                                        </p>
                                        <span :class="['ico-remark-q',markStatus(orderItem.orderStatusValue)]">
                                            <i class="t" v-text="orderItem.orderStatus"></i>
                                        </span>
                                        <span class="price" style="display:none;">￥688</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="content-block">
                                <div class="list-box" v-for="orderItem in orderList">
                                    <a external :href="'order_1.html?orderId='+orderItem.orderId">
                                        <h3 class="tit" v-text="orderItem.title"></h3>
                                        <div class="txt">
                                            <span class="kc" v-text="orderItem.hobbyName"></span>
                                            <span class="xs" v-text="orderItem.orderType"></span>
                                            <span class="sx">|</span>
                                            <span class="ls">共<span v-text="orderItem.studentCount"></span>人</span>
                                        </div>
                                        <p class="add">
                                            <i class="ico-add-q"></i>
                                            <span v-text="orderItem.address?orderItem.address:'家长上门'"></span>
                                        </p>
                                        <span :class="['ico-remark-q',markStatus(orderItem.orderStatusValue)]">
                                            <i class="t" v-text="orderItem.orderStatus"></i>
                                        </span>
                                        <span class="price" style="display:none;">￥688</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="content-block">
                                <div class="list-box" v-for="orderItem in orderList">
                                    <a external :href="'order_1.html?orderId='+orderItem.orderId">
                                        <h3 class="tit" v-text="orderItem.title"></h3>
                                        <div class="txt">
                                            <span class="kc" v-text="orderItem.hobbyName"></span>
                                            <span class="xs" v-text="orderItem.orderType"></span>
                                            <span class="sx">|</span>
                                            <span class="ls">共<span v-text="orderItem.studentCount"></span>人</span>
                                        </div>
                                        <p class="add">
                                            <i class="ico-add-q"></i>
                                            <span v-text="orderItem.address?orderItem.address:'家长上门'"></span>
                                        </p>
                                        <span :class="['ico-remark-q',markStatus(orderItem.orderStatusValue)]">
                                            <i class="t" v-text="orderItem.orderStatus"></i>
                                        </span>
                                        <span class="price" style="display:none;">￥688</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./script/lib/jquery-3.2.1.min.js"></script>
    <script>
        var viewportFix = function() {
            var v_t;
            var handlerOrientationChange = function() {
                var width = (window.innerWidth <= 320) ? 320 : ((window.innerWidth >= 640) ? 640 : window.innerWidth);
                var fontSize = 100 * (width / 640);
                document.documentElement.style.fontSize = fontSize + "px";
            };
            var timeoutFun = function() {
                clearTimeout(v_t);
                v_t = setTimeout(function() {
                    handlerOrientationChange();
                }, 50);
            }
            window.onload = function() {
                if (document.readyState == 'complete') {
                    handlerOrientationChange();
                }
            }
            timeoutFun();
            $(window).resize(function() {
                timeoutFun();
            }).on("orientationchange", function() {
                timeoutFun();
            });
        }
        viewportFix();
    </script>
    <!-- 页面调用JS -->
    <script type="text/javascript" src="./script/lib/vue.min.js"></script>
    <script type="text/javascript" src="./script/lib/axios.min.js"></script>
    <script type="text/javascript" src="./script/lib/light7.min.js"></script>
    <script type="text/javascript" src="./script/lib/crypto-js.js"></script>
    <script type="text/javascript" src="./script/common.js"></script>
    <script type="text/javascript" src="./script/myorder.js"></script>
</body>
</html>