<!DOCTYPE HTML>
<html>
<head>
    <title>订单详情</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="./style/common.css">
    <link rel="stylesheet" type="text/css" href="./style/icomoon.css">
    <link rel="stylesheet" type="text/css" href="./style/lib/light7.min.css">
    <!-- 页面调用CSS -->
    <link rel="stylesheet" type="text/css" href="./style/order_1.css">
</head>
<body>
    <div id="myApp" class="page-group">
        <div class="page page-current">
            <div class="header">
                <span class="icon-head-back"><a href="#"></a></span>
                <p class="text-head-title">订单详情</p>
                <span class="icon-head-tool"></span>
            </div>
            <div class="content-box">
                <!-- 待接单 -->
                <template v-if="receiveList.length == 0">
                    <div class="warn-box">
                        <div class="l-box hourglass">
                            <i class="ico-q ico-hourglass-q"></i>
                        </div>
                        <div class="r-box">
                            <p>我们已经将您的课程需求推送给
                                <span class="t-num"><span v-text="getRandom(10,100)"></span></span>位老师
                            </p>
                            <p>您还有<span class="ZCountdown1"></span>等待老师接单！</p>
                        </div>
                    </div>
                    <div class="tabs">
                        <div id="tab1" class="tab active">
                            <div class="content-block">
                                <!-- 待老师接单 -->
                                <div class="list-box">
                                    <h3 class="tit" v-text="bookTime"></h3>
                                    <div class="txt">
                                        <span class="kc" v-text="hobbyName"></span>
                                        <span class="xs" v-text="classesType"></span>
                                        <span class="sx">|</span>
                                        <span class="ls">共<span v-text="studentCount"></span>人</span>
                                    </div>
                                    <p class="add"><i class="ico-add-q"></i><span v-text="address?address:'家长上门'"></span></p>
                                    <span :class="['ico-remark-q','dzf']">
                                        <i class="t" v-text="'已接单'"></i>
                                    </span>
                                    <span class="price" style="display:none;">￥688</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-box">
                        <a href="javascript:;" @click="cancelOrder">取消订单</a>
                    </div>
                </template>
                <!-- 已接单 -->
                <template v-if="orderStatusValue == 1 && receiveList.length > 0">
                    <div class="warn-box">
                        <div class="l-box hourglass">
                            <i class="ico-q ico-hourglass-q"></i>
                        </div>
                        <div class="r-box">
                            <p>已有
                                <span class="t-num"><span v-text="receiveList.length"></span></span>位老师接单
                            </p>
                            <p>您还有<span class="ZCountdown2"></span>来选择其中一位老师！</p>
                        </div>
                    </div>
                    <ul class="tc-ul">
                        <template v-for="teacherItem in receiveList">
                            <a external 
                               :href="'teacher.html?tid='+teacherItem.teacherId+'&orderId='+orderId">
                                <li class="tc-li">
                                    <div class="l">
                                        <img :src="teacherItem.avatarUrl" alt="教师图像" />
                                    </div>
                                    <div class="r">
                                        <h3>
                                            <span class="name" v-text="teacherItem.trueName"></span>
                                            <span class="score" v-text="teacherItem.score + '分'"></span>
                                        </h3>
                                        <p>
                                            <span v-text="teacherItem.identityType"></span>
                                            <span>|</span>
                                            <span v-text="'累计授课'+teacherItem.totalClassesDuration+'小时'"></span>
                                        </p>
                                        <span class="price" v-text="'￥' + teacherItem.price"></span>
                                    </div>
                                </li>
                            </a>
                        </template> 
                    </ul>
                    <div class="btn-box">
                        <a href="javascript:;" @click="cancelOrder">取消订单</a>
                    </div>
                </template>
                <!-- 已选择老师待支付 -->
                <template v-if="orderStatusValue == 4">
                    <div class="warn-box">
                        <div class="l-box hourglass">
                            <i class="ico-q ico-hourglass-q"></i>
                        </div>
                        <div class="r-box">
                            <p>已选择1位老师
                            </p>
                            <p>请您尽快完成支付！</p>
                        </div>
                    </div>
                    <ul class="tc-ul">
                        <template v-for="teacherItem in receiveList">
                            <a external 
                               :href="'teacher.html?tid='+teacherItem.teacherId+'&orderId='+orderId">
                                <li class="tc-li">
                                    <div class="l">
                                        <img :src="teacherItem.avatarUrl" alt="教师图像" />
                                    </div>
                                    <div class="r">
                                        <h3>
                                            <span class="name" v-text="teacherItem.trueName"></span>
                                            <span class="score" v-text="teacherItem.score + '分'"></span>
                                        </h3>
                                        <p>
                                            <span v-text="teacherItem.identityType"></span>
                                            <span>|</span>
                                            <span v-text="'累计授课'+teacherItem.totalClassesDuration+'小时'"></span>
                                        </p>
                                        <span class="price" v-text="'￥' + teacherItem.price"></span>
                                    </div>
                                </li>
                            </a>
                        </template> 
                    </ul>
                    <div class="btn-tl-wrap">
                        <a class="btn-tl btn-shadow" href="javascript:;" @click="gotoPay">立即支付</a>
                    </div>
                    <div class="btn-box">
                        <a href="javascript:;" @click="cancelOrder">取消订单</a>
                    </div>
                </template>
                <!-- 家长已取消 -->
                <template v-if="orderStatusValue == 5">
                    <div class="warn-box canceled">
                        <p><i class="ico-q ico-gantan-q"></i><span v-text="cancelReason"></span></p>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./script/lib/jquery-3.2.1.min.js"></script>
    <script>
        var viewportFix = function() {
            var v_t;
            var handlerOrientationChange = function() {
                var width = (window.innerWidth <= 320) ? 320 : ((window.innerWidth >= 640) ? 640 : window.innerWidth);
                var fontSize = 100 * (width / 640);
                document.documentElement.style.fontSize = fontSize + "px";
            };
            var timeoutFun = function() {
                clearTimeout(v_t);
                v_t = setTimeout(function() {
                    handlerOrientationChange();
                }, 50);
            }
            window.onload = function() {
                if (document.readyState == 'complete') {
                    handlerOrientationChange();
                }
            }
            timeoutFun();
            $(window).resize(function() {
                timeoutFun();
            }).on("orientationchange", function() {
                timeoutFun();
            });
        }
        viewportFix();
    </script>
    <!-- 页面调用JS -->
    <script type="text/javascript" src="./script/lib/vue.min.js"></script>
    <script type="text/javascript" src="./script/lib/axios.min.js"></script>
    <script type="text/javascript" src="./script/lib/light7.min.js"></script>
    <script type="text/javascript" src="./script/lib/crypto-js.js"></script>
    <script type="text/javascript" src="./script/common.js"></script>
    <script type="text/javascript" src="./script/order_1.js"></script>
</body>
</html>
