<!DOCTYPE HTML>
<html>
<head>
    <title>订单详情</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="./style/common.css">
    <link rel="stylesheet" type="text/css" href="./style/icomoon.css">
    <link rel="stylesheet" type="text/css" href="./style/lib/sm.css">
    <!-- 页面调用CSS -->
    <link rel="stylesheet" type="text/css" href="./style/order_1.css?v=201710221629">
</head>
<body>
    <div id="myApp" class="page-group">
        <div class="page page-current">
            <div class="header">
                <span class="icon-head-back"><a href="#"></a></span>
                <p class="text-head-title">订单详情</p>
                <span class="icon-head-tool"></span>
            </div>
            <div class="content-box">
                <template v-if="orderStatusValue ==5">
                    <div class="warn-box canceled">
                        <p><i class="ico-q ico-gantan-q"></i><span v-text="cancelReason"></span></p>
                    </div>
                </template>
                <template v-else>
                    <div class="warn-box">
                        <div class="l-box hourglass">
                            <i class="ico-q ico-hourglass-q"></i>
                        </div>
                        <div class="r-box">
                            <p>我们已经将您的课程需求推送给<span class="t-num"><span v-text="recommendNum"></span></span>位老师</p>
                            <p>您还有<span class="ZCountdown" style="">
                        <span class="type type-day"><em class="day">0</em><span class="unit">天</span></span><span class="type type-hour"><em class="hour">00</em><span class="unit">时</span></span><span class="type type-min"><em class="min">00</em><span class="unit">分</span></span><span class="type type-sec"><em class="sec">00</em><span class="unit">秒</span></span>
                    </span>等待老师接单！</p>
                        </div>
                    </div>
                </template>
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <div class="content-block">
                            <!-- 待选择老师 -->
                            <div class="list-box">
                                <h3 class="tit" v-text="bookTime"></h3>
                                <div class="txt">
                                    <span class="kc" v-text="hobbyName"></span>
                                    <span class="xs" v-text="classesType"></span>
                                    <span class="sx">|</span>
                                    <span class="ls">共<span v-text="studentCount"></span>人</span>
                                </div>
                                <p class="add"><i class="ico-add-q"></i><span v-text="address?address:'家长上门'"></span></p>
                                <span :class="['ico-remark-q',markStatus(orderStatusValue)]">
                                    <i class="t" v-text="orderStatus"></i>
                                </span>
                                <span class="price" style="display:none;">￥688</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box" v-if="orderStatusValue !=5">
                    <a href="javascript:;" @click="cancelOrder">取消订单</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 页面调用JS -->
    <script type="text/javascript" src="./script/lib/zepto.min.js"></script>
    <script type="text/javascript" src="./script/lib/jquery.min.js"></script>
    <script>
        var viewportFix = function() {
            var v_t;
            var handlerOrientationChange = function() {
                var width = (window.innerWidth <= 320) ? 320 : ((window.innerWidth >= 640) ? 640 : window.innerWidth);
                var fontSize = 100 * (width / 640);
                document.documentElement.style.fontSize = fontSize + "px";
            };
            var timeoutFun = function() {
                clearTimeout(v_t);
                v_t = setTimeout(function() {
                    handlerOrientationChange();
                }, 50);
            }
            window.onload = function() {
                if (document.readyState == 'complete') {
                    handlerOrientationChange();
                }
            }
            timeoutFun();
            $(window).resize(function() {
                timeoutFun();
            }).on("orientationchange", function() {
                timeoutFun();
            });
        }
        viewportFix();
    </script>
    <script type="text/javascript" src="./script/lib/vue-2.1.10.js"></script>
    <script type="text/javascript" src="./script/lib/axios.min.js"></script>
    <script type="text/javascript" src="./script/lib/sm.min.js"></script>
    <script type="text/javascript" src="./script/lib/crypto-js.js"></script>
    <script type="text/javascript" src="./script/common.js"></script>
    <script type="text/javascript" src="./script/order_1.js?v=201710221629"></script>
</body>
</html>
